*  /*{
    border: solid 1px red;
    padding: 0%;
}*/

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.cabecalho {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: static;
    width: 100%;
    height: 122px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 20px rgba(159, 159, 159, 0.65);
}

.menu {
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
}

h2 {
    margin: 20px 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    color: #777777;
}

.navegacao {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5% 5%;
    box-sizing: border-box;
}

h3 {
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 39px;
line-height: 53px;
margin-top: 0%;

color: #575757;
}

.formulario {
    display: flex;
    justify-content: space-between;
    flex-direction: column ;
    width: 47%;
}

.text {
    margin-top: 100px;
    margin-right: 5%;
    width: 37%;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

color: #575757;
}

.form2 {
    width: 100%;
height: 26px;
left: 123px;
top: 294px;

background: #FFFFFF;
border: 1px solid #9B9B9B;
box-sizing: border-box;
}

.form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #9B9B9B;
}

/* Container é a <label> do checkbox */
/* Customize the label (the container) */
.container {
    display: flex;
    justify-content: left;
position: relative;
width: 15px;
height: 15px;
cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    align-items: center;
    width: 70%;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  width:15px;
  height:15px;
background-color: #C4C4C4;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

/* Style the checkmark/indicator */
 /* .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } */
  
h4 {
    position: relative;
    right: 15px;
    bottom: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-left: 2px;   
    margin-bottom: 8px;
    color: #777777
}

.radio  {display: flex;
justify-content: space-between;
margin-top: 0px;
align-items: center;}

.form4 {
    display: flex;
justify-content:flex-start;
flex-direction: row;


color: #777777;
}

.form5 {display: flex;
justify-content: space-evenly;
flex-direction: column;
margin-top: 10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #9B9B9B;}

.button {
    position: absolute;
width: 15px;
height: 15px;
margin-top: 15px;
background: #C4C4C4;
border-radius: 10px;
}

.flex2 {
    position: relative;
    top: 13px;
    right: 2px;
    z-index: 1;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
    
}

flex2:checked {
    border: 6px solid black;
  }

.mensagem {
    width: 100%;
height: 20%;
left: 123px;
top: 294px;

background: #FFFFFF;
border: 1px solid #9B9B9B;
box-sizing: border-box;
}

.file {
    justify-content: left;
    position: relative;
    top: 10px;
    margin-bottom: 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #9B9B9B
}

.upload {
    position: relative;
    width: 100px;
    height: 15px;
    left: 10px;
    top: 4px;
}

.upload_button {
    position: absolute;
width: 118px;
height: 21px;
z-index: 10;
left: 80px;
top: 2px;
background: #C4C4C4;
}

.file:hover input ~ .upload_button {
    background-color: #ccc;
}