* {
    /*border: solid 1px red;*/
    padding: 0%;
}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.cabecalho {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: static;
    width: 100%;
    height: 122px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 20px rgba(159, 159, 159, 0.65);
}

.menu {
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
}

h2 {
    margin: 20px 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    color: #777777;
}

.navegacao {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

h3 {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 39px;
line-height: 53px;

color: #575757;
}

.formulario {
    display: flex;
    justify-content: space-between;
    flex-direction: column ;
}

.form2 {
    width: 100%;
height: 26px;
left: 123px;
top: 294px;

background: #FFFFFF;
border: 1px solid #9B9B9B;
box-sizing: border-box;
}

.form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #9B9B9B;
}

.checkbox {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    align-items: center;
}

.flex {
    margin-top: 15px;
}

.form3 {
display: flex;
justify-content:flex-start;
flex-direction: row;


color: #777777;
}

.checkmark {
    position: absolute;
width: 17px;
height: 17px;
margin-top: 15px;
background: #C4C4C4;
}

.form3:hover input ~ .checkmark {
    background-color: #ccc;
}

.form3 input:checked ~ .checkmark {
    background-color: #2196F3;
  }

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

.form3 input:checked ~ .checkmark:after {
    display: block;
  }
  
h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 16px;
    margin-top: 16px;
    margin-left: 2px;   
    color: #777777
}